Options +FollowSymLinks

RewriteEngine on
RewriteCond %{HTTP_HOST}   !^$
RewriteCond %{HTTP_HOST}   !^kyleberry.org [NC]
RewriteRule ^/(.*)         http://kyleberry.org/$1 [L,R=301]


<Files .htaccess>
    Order Allow,Deny
    Deny from all
</Files>

ErrorDocument 404 /error404.html
ErrorDocument 403 /error403.html
ErrorDocument 500 /error500.html
