<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Kyle Berry" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

<script type="text/javascript">

 var _gaq = _gaq || [];
 _gaq.push(['_setAccount', 'UA-24694852-1']);
 _gag.push(['_setDomainName', 'kyleberry.org']);
 _gaq.push(['_trackPageview']);

 (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(ga, s);
 })();

</script>

</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Kyle's Blog</a>
    <a class="extra" href="/">home</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Kyle Berry<br />
        Linux Systems Administrator at <a href="http://hostgator.com/">HostGator</a><br />
        kyle@kyleberry.org
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://facebook.com/4wd22r/">Facebook</a><br />
        <a href="http://plus.google.com/4wd22r/">Google +</a><br />
        <a href="http://git.kyleberry.com/">Git Repo</a><br />
        <a href="http://www.vim.org/"><img src="../vim_created.png"></a><br />
      </p>
    </div>
  </div>
</div>
</body>
</html>
